@media(max-width:992px) {
   #nav .banner .box .heading {
      font-size: 36px;
   }

   #nav .banner .box {
      text-align: center;
      padding-top: 20px;

   }

   #nav .banner .box .contains {
      justify-content: center;
   }

   #nav .banner .box .buttons {
      flex-direction: column;
   }

   #nav .banner .box .reel {
      /* margin-left: 20px; */
      margin-top: 20px;
   }

   #nav .banner .banner-img .loop {
      display: none;
   }

   #nav .banner .box>p {
      margin-bottom: 20px;
   }

   .banner .box .contains .txt {
      font-size: 22px;
   }

   #nav .banner .txt-list {

      margin-bottom: -425px;
   }

   /*-------- solution css start ----------*/
   #solution .contains .txt {
      font-family: var(--font-family);
      font-weight: 800;
      font-size: 10px;
      line-height: 100%;
      letter-spacing: 0.02em;
      text-transform: uppercase;
      color: #fff;
      margin-bottom: 0;
      margin-left: 5px;
      padding: 10px 0;
   }

   #solution .contains {
      margin-right: 30px;
   }

   /*-------- solution css end ----------*/

   /*-------- about css start ----------*/
   #about .boxes .box:last-of-type {
      margin: 20px 0;
   }

   #about .boxes {
      flex-direction: column;

   }

   #about .boxes .box {
      justify-content: center;
   }

   #about .details>h2,
   #about .details>p {
      text-align: center;
   }

   #about .details .contains {
      justify-content: center;
   }

   

*/ #about .details .boxes .clients {
   padding-left: 18px;
}

#about .details>h2 {
   font-size: 36px;
}

#about .boxes .box h4 {
   margin-right: 0;
}

#about .boxes .box p {
   padding-left: 20px;
}

#about .boxes .box:first-child
{
   padding-left: 32px;
}


#about {
   padding: 30px 0;
}



#about .about-links {
   flex-direction: column;
   align-items: center;
   gap: 15px;
   justify-content: center;
}

#about .about-links .contains {
   margin-left: 0;
   margin: 10px 0 20px 0;
}

#about .boxes {
   margin-bottom: 10px;
   width: 100%;
}

#about .details .star {

   top: -9px;
   right: 7px;
}




/*-------- about css end ----------*/

/*-------- service css start ----------*/

#service 
{
  
  padding: 40px 0;
}


#service .box
{
   text-align: center;
   margin: 0 10px;
   padding: 20px 0;
   margin-bottom: 20px;
}

#service .box .col-xl-1:first-of-type
{
   margin-bottom: 10px;
}

/* #service .box .col-xl-1:last-of-type
{
   margin-top: 10px;
} */

#service .box .title, #service .box .txt
{
   margin-bottom: 20px;
   
}

#service .box .no
{
   font-size: 18px;
}

#service .box .title
{
   font-size: 20px;
}

#service .container>h4 
{
   font-size: 32px;
}

/*-------- service css end ----------*/


/*-------- project css start ----------*/

#project
{
   padding: 40px 0;
}



#project .contains 
{
   justify-content: center;
}


#project .heading
{
   flex-direction: column;
}

#project .heading h4 
{
   font-size: 32px;
}

#project .heading a 
{
   margin-top: 15px;
}

#project .row .card 
{
   width: calc( 100% - 24px);
}

#project .card .contains .heading p:last-of-type
{
   font-size: 20px;
}

#project .row
{
  margin-top: 25px;
}


/*-------- project css end ----------*/

/*-------- experience css start ----------*/
#experience .details p:nth-of-type(2)
{
   font-size: 18px;
   margin: 10px 0;
}

#experience .exp-list
{
  margin-top: 10px;
}

#experience .container> h4 
{
   font-size: 32px;
   margin-top: 14px;
}
#experience .details 
{
   flex-direction: column;
   text-align: center;
}


/*-------- experience css end ----------*/



}